<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div ng-app=""
        ng-init="names2=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}];names=['Jani','Hege','Kai'];points=[1,15,19,2,40];quantity=1;price=5;cost=5;firstName='John';lastName='Doe';person={firstName:'John',lastName:'Doe'}">
        <p>我的第一个表达式： {{ 5 + 5 }}</p>
        <p>总价： {{ quantity * cost }}</p>
        <p>
            总价： <span ng-bind="quantity * cost"></span>
        </p>
        <p>姓名： {{ firstName + " " + lastName }}</p>
        <p>
            姓名： <span ng-bind="firstName + ' ' + lastName"></span>
        </p>
        <p>姓为 {{ person.lastName }}</p>
        <p>
            姓为 <span ng-bind="person.lastName"></span>
        </p>
        <p>第三个值为 {{ points[2] }}</p>
        <p>
            第三个值为 <span ng-bind="points[2]"></span>
        </p>
        <p>在输入框中尝试输入：</p>
        <p>
            姓名：<input type="text" ng-model="firstName">
        </p>
        <p>你输入的为： {{ firstName }}</p>
        <h2>价格计算器</h2>
        数量： <input type="number" ng-model="quantity"> 价格： <input type="number" ng-model="price">
        <p>
            <b>总价：</b> {{ quantity * price }}
        </p>
        <p>使用 ng-repeat 来循环数组</p>
        <ul>
            <li ng-repeat="x in names">{{ x }}</li>
        </ul>
        <p>循环对象：</p>
        <ul>
            <li ng-repeat="x in names2">{{ x.name + ', ' + x.country }}</li>
        </ul>
    </div>
    <script src="js/angular-1.4.7.min.js"></script>
</body>
</html>